etwebservice/WebRoot/WEB-INF/wsdl/ETContactService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.webservice.etwebservice.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ETContactService" targetNamespace="http://service.webservice.etwebservice.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.webservice.etwebservice.com/" schemaLocation="ETContactService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="update">
    <part element="tns:update" name="parameters"/>
  </message>
  <message name="updateResponse">
    <part element="tns:updateResponse" name="parameters"/>
  </message>
  <message name="insertContact">
    <part element="tns:insertContact" name="parameters"/>
  </message>
  <message name="insertContactResponse">
    <part element="tns:insertContactResponse" name="parameters"/>
  </message>
  <message name="getContact">
    <part element="tns:getContact" name="parameters"/>
  </message>
  <message name="getContactResponse">
    <part element="tns:getContactResponse" name="parameters"/>
  </message>
  <portType name="ETContactDelegate">
    <operation name="update">
      <input message="tns:update"/>
      <output message="tns:updateResponse"/>
    </operation>
    <operation name="insertContact">
      <input message="tns:insertContact"/>
      <output message="tns:insertContactResponse"/>
    </operation>
    <operation name="getContact">
      <input message="tns:getContact"/>
      <output message="tns:getContactResponse"/>
    </operation>
  </portType>
  <binding name="ETContactPortBinding" type="tns:ETContactDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="update">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertContact">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getContact">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ETContactService">
    <port binding="tns:ETContactPortBinding" name="ETContactPort">
      <soap:address location="http://localhost:8080/etwebservice/ETContactPort"/>
    </port>
  </service>
</definitions>
