etwebservice/WebRoot/WEB-INF/wsdl/ETemployService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.webservice.etwebservice.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ETemployService" targetNamespace="http://service.webservice.etwebservice.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.webservice.etwebservice.com/" schemaLocation="ETemployService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="deleteEmploy">
    <part element="tns:deleteEmploy" name="parameters"/>
  </message>
  <message name="deleteEmployResponse">
    <part element="tns:deleteEmployResponse" name="parameters"/>
  </message>
  <message name="insertEmploy">
    <part element="tns:insertEmploy" name="parameters"/>
  </message>
  <message name="insertEmployResponse">
    <part element="tns:insertEmployResponse" name="parameters"/>
  </message>
  <message name="updateEmploy">
    <part element="tns:updateEmploy" name="parameters"/>
  </message>
  <message name="updateEmployResponse">
    <part element="tns:updateEmployResponse" name="parameters"/>
  </message>
  <message name="getEmploy">
    <part element="tns:getEmploy" name="parameters"/>
  </message>
  <message name="getEmployResponse">
    <part element="tns:getEmployResponse" name="parameters"/>
  </message>
  <message name="getEmployById">
    <part element="tns:getEmployById" name="parameters"/>
  </message>
  <message name="getEmployByIdResponse">
    <part element="tns:getEmployByIdResponse" name="parameters"/>
  </message>
  <message name="getEmployAll">
    <part element="tns:getEmployAll" name="parameters"/>
  </message>
  <message name="getEmployAllResponse">
    <part element="tns:getEmployAllResponse" name="parameters"/>
  </message>
  <portType name="ETemployDelegate">
    <operation name="deleteEmploy">
      <input message="tns:deleteEmploy"/>
      <output message="tns:deleteEmployResponse"/>
    </operation>
    <operation name="insertEmploy">
      <input message="tns:insertEmploy"/>
      <output message="tns:insertEmployResponse"/>
    </operation>
    <operation name="updateEmploy">
      <input message="tns:updateEmploy"/>
      <output message="tns:updateEmployResponse"/>
    </operation>
    <operation name="getEmploy">
      <input message="tns:getEmploy"/>
      <output message="tns:getEmployResponse"/>
    </operation>
    <operation name="getEmployById">
      <input message="tns:getEmployById"/>
      <output message="tns:getEmployByIdResponse"/>
    </operation>
    <operation name="getEmployAll">
      <input message="tns:getEmployAll"/>
      <output message="tns:getEmployAllResponse"/>
    </operation>
  </portType>
  <binding name="ETemployPortBinding" type="tns:ETemployDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="deleteEmploy">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertEmploy">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateEmploy">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEmploy">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEmployById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEmployAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ETemployService">
    <port binding="tns:ETemployPortBinding" name="ETemployPort">
      <soap:address location="http://localhost:8080/etwebservice/ETemployPort"/>
    </port>
  </service>
</definitions>
