etwebservice/WebRoot/WEB-INF/wsdl/ETIntroductionService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.webservice.etwebservice.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ETIntroductionService" targetNamespace="http://service.webservice.etwebservice.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.webservice.etwebservice.com/" schemaLocation="ETIntroductionService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getIntroductionById">
    <part element="tns:getIntroductionById" name="parameters"/>
  </message>
  <message name="getIntroductionByIdResponse">
    <part element="tns:getIntroductionByIdResponse" name="parameters"/>
  </message>
  <message name="getAllIntroduction">
    <part element="tns:getAllIntroduction" name="parameters"/>
  </message>
  <message name="getAllIntroductionResponse">
    <part element="tns:getAllIntroductionResponse" name="parameters"/>
  </message>
  <message name="getIntroIdNameImage">
    <part element="tns:getIntroIdNameImage" name="parameters"/>
  </message>
  <message name="getIntroIdNameImageResponse">
    <part element="tns:getIntroIdNameImageResponse" name="parameters"/>
  </message>
  <message name="getIntroductionByName">
    <part element="tns:getIntroductionByName" name="parameters"/>
  </message>
  <message name="getIntroductionByNameResponse">
    <part element="tns:getIntroductionByNameResponse" name="parameters"/>
  </message>
  <message name="insertIntro">
    <part element="tns:insertIntro" name="parameters"/>
  </message>
  <message name="insertIntroResponse">
    <part element="tns:insertIntroResponse" name="parameters"/>
  </message>
  <message name="updateIntro">
    <part element="tns:updateIntro" name="parameters"/>
  </message>
  <message name="updateIntroResponse">
    <part element="tns:updateIntroResponse" name="parameters"/>
  </message>
  <message name="deleteIntro">
    <part element="tns:deleteIntro" name="parameters"/>
  </message>
  <message name="deleteIntroResponse">
    <part element="tns:deleteIntroResponse" name="parameters"/>
  </message>
  <portType name="ETIntroductionDelegate">
    <operation name="getIntroductionById">
      <input message="tns:getIntroductionById"/>
      <output message="tns:getIntroductionByIdResponse"/>
    </operation>
    <operation name="getAllIntroduction">
      <input message="tns:getAllIntroduction"/>
      <output message="tns:getAllIntroductionResponse"/>
    </operation>
    <operation name="getIntroIdNameImage">
      <input message="tns:getIntroIdNameImage"/>
      <output message="tns:getIntroIdNameImageResponse"/>
    </operation>
    <operation name="getIntroductionByName">
      <input message="tns:getIntroductionByName"/>
      <output message="tns:getIntroductionByNameResponse"/>
    </operation>
    <operation name="insertIntro">
      <input message="tns:insertIntro"/>
      <output message="tns:insertIntroResponse"/>
    </operation>
    <operation name="updateIntro">
      <input message="tns:updateIntro"/>
      <output message="tns:updateIntroResponse"/>
    </operation>
    <operation name="deleteIntro">
      <input message="tns:deleteIntro"/>
      <output message="tns:deleteIntroResponse"/>
    </operation>
  </portType>
  <binding name="ETIntroductionPortBinding" type="tns:ETIntroductionDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getIntroductionById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllIntroduction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getIntroIdNameImage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getIntroductionByName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertIntro">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateIntro">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteIntro">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ETIntroductionService">
    <port binding="tns:ETIntroductionPortBinding" name="ETIntroductionPort">
      <soap:address location="http://localhost:8080/etwebservice/ETIntroductionPort"/>
    </port>
  </service>
</definitions>
