etwebservice/WebRoot/WEB-INF/wsdl/ETNewsService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.webservice.etwebservice.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ETNewsService" targetNamespace="http://service.webservice.etwebservice.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.webservice.etwebservice.com/" schemaLocation="ETNewsService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="updateTitle">
    <part element="tns:updateTitle" name="parameters"/>
  </message>
  <message name="updateTitleResponse">
    <part element="tns:updateTitleResponse" name="parameters"/>
  </message>
  <message name="queryTitle">
    <part element="tns:queryTitle" name="parameters"/>
  </message>
  <message name="queryTitleResponse">
    <part element="tns:queryTitleResponse" name="parameters"/>
  </message>
  <message name="queryNewsContentByTitle">
    <part element="tns:queryNewsContentByTitle" name="parameters"/>
  </message>
  <message name="queryNewsContentByTitleResponse">
    <part element="tns:queryNewsContentByTitleResponse" name="parameters"/>
  </message>
  <message name="queryNewsContentById">
    <part element="tns:queryNewsContentById" name="parameters"/>
  </message>
  <message name="queryNewsContentByIdResponse">
    <part element="tns:queryNewsContentByIdResponse" name="parameters"/>
  </message>
  <message name="updateNewsContent">
    <part element="tns:updateNewsContent" name="parameters"/>
  </message>
  <message name="updateNewsContentResponse">
    <part element="tns:updateNewsContentResponse" name="parameters"/>
  </message>
  <message name="insertNews">
    <part element="tns:insertNews" name="parameters"/>
  </message>
  <message name="insertNewsResponse">
    <part element="tns:insertNewsResponse" name="parameters"/>
  </message>
  <message name="deleteNews">
    <part element="tns:deleteNews" name="parameters"/>
  </message>
  <message name="deleteNewsResponse">
    <part element="tns:deleteNewsResponse" name="parameters"/>
  </message>
  <portType name="ETNewsDelegate">
    <operation name="updateTitle">
      <input message="tns:updateTitle"/>
      <output message="tns:updateTitleResponse"/>
    </operation>
    <operation name="queryTitle">
      <input message="tns:queryTitle"/>
      <output message="tns:queryTitleResponse"/>
    </operation>
    <operation name="queryNewsContentByTitle">
      <input message="tns:queryNewsContentByTitle"/>
      <output message="tns:queryNewsContentByTitleResponse"/>
    </operation>
    <operation name="queryNewsContentById">
      <input message="tns:queryNewsContentById"/>
      <output message="tns:queryNewsContentByIdResponse"/>
    </operation>
    <operation name="updateNewsContent">
      <input message="tns:updateNewsContent"/>
      <output message="tns:updateNewsContentResponse"/>
    </operation>
    <operation name="insertNews">
      <input message="tns:insertNews"/>
      <output message="tns:insertNewsResponse"/>
    </operation>
    <operation name="deleteNews">
      <input message="tns:deleteNews"/>
      <output message="tns:deleteNewsResponse"/>
    </operation>
  </portType>
  <binding name="ETNewsPortBinding" type="tns:ETNewsDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="updateTitle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="queryTitle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="queryNewsContentByTitle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="queryNewsContentById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateNewsContent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertNews">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteNews">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ETNewsService">
    <port binding="tns:ETNewsPortBinding" name="ETNewsPort">
      <soap:address location="http://localhost:8080/etwebservice/ETNewsPort"/>
    </port>
  </service>
</definitions>
