etwebservice/WebRoot/WEB-INF/wsdl/ETServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.webservice.etwebservice.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ETServiceService" targetNamespace="http://service.webservice.etwebservice.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.webservice.etwebservice.com/" schemaLocation="ETServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getService">
    <part element="tns:getService" name="parameters"/>
  </message>
  <message name="getServiceResponse">
    <part element="tns:getServiceResponse" name="parameters"/>
  </message>
  <message name="updateService">
    <part element="tns:updateService" name="parameters"/>
  </message>
  <message name="updateServiceResponse">
    <part element="tns:updateServiceResponse" name="parameters"/>
  </message>
  <message name="insertService">
    <part element="tns:insertService" name="parameters"/>
  </message>
  <message name="insertServiceResponse">
    <part element="tns:insertServiceResponse" name="parameters"/>
  </message>
  <message name="deleteService">
    <part element="tns:deleteService" name="parameters"/>
  </message>
  <message name="deleteServiceResponse">
    <part element="tns:deleteServiceResponse" name="parameters"/>
  </message>
  <message name="getServiceAll">
    <part element="tns:getServiceAll" name="parameters"/>
  </message>
  <message name="getServiceAllResponse">
    <part element="tns:getServiceAllResponse" name="parameters"/>
  </message>
  <message name="updateServiceName">
    <part element="tns:updateServiceName" name="parameters"/>
  </message>
  <message name="updateServiceNameResponse">
    <part element="tns:updateServiceNameResponse" name="parameters"/>
  </message>
  <message name="updateServiceImage">
    <part element="tns:updateServiceImage" name="parameters"/>
  </message>
  <message name="updateServiceImageResponse">
    <part element="tns:updateServiceImageResponse" name="parameters"/>
  </message>
  <message name="updateServiceDetail">
    <part element="tns:updateServiceDetail" name="parameters"/>
  </message>
  <message name="updateServiceDetailResponse">
    <part element="tns:updateServiceDetailResponse" name="parameters"/>
  </message>
  <message name="getServiceByName">
    <part element="tns:getServiceByName" name="parameters"/>
  </message>
  <message name="getServiceByNameResponse">
    <part element="tns:getServiceByNameResponse" name="parameters"/>
  </message>
  <message name="getServiceById">
    <part element="tns:getServiceById" name="parameters"/>
  </message>
  <message name="getServiceByIdResponse">
    <part element="tns:getServiceByIdResponse" name="parameters"/>
  </message>
  <portType name="ETServiceDelegate">
    <operation name="getService">
      <input message="tns:getService"/>
      <output message="tns:getServiceResponse"/>
    </operation>
    <operation name="updateService">
      <input message="tns:updateService"/>
      <output message="tns:updateServiceResponse"/>
    </operation>
    <operation name="insertService">
      <input message="tns:insertService"/>
      <output message="tns:insertServiceResponse"/>
    </operation>
    <operation name="deleteService">
      <input message="tns:deleteService"/>
      <output message="tns:deleteServiceResponse"/>
    </operation>
    <operation name="getServiceAll">
      <input message="tns:getServiceAll"/>
      <output message="tns:getServiceAllResponse"/>
    </operation>
    <operation name="updateServiceName">
      <input message="tns:updateServiceName"/>
      <output message="tns:updateServiceNameResponse"/>
    </operation>
    <operation name="updateServiceImage">
      <input message="tns:updateServiceImage"/>
      <output message="tns:updateServiceImageResponse"/>
    </operation>
    <operation name="updateServiceDetail">
      <input message="tns:updateServiceDetail"/>
      <output message="tns:updateServiceDetailResponse"/>
    </operation>
    <operation name="getServiceByName">
      <input message="tns:getServiceByName"/>
      <output message="tns:getServiceByNameResponse"/>
    </operation>
    <operation name="getServiceById">
      <input message="tns:getServiceById"/>
      <output message="tns:getServiceByIdResponse"/>
    </operation>
  </portType>
  <binding name="ETServicePortBinding" type="tns:ETServiceDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getServiceAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateServiceName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateServiceImage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateServiceDetail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getServiceByName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getServiceById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ETServiceService">
    <port binding="tns:ETServicePortBinding" name="ETServicePort">
      <soap:address location="http://localhost:8080/etwebservice/ETServicePort"/>
    </port>
  </service>
</definitions>
