etwebservice/WebRoot/WEB-INF/wsdl/ETTeamService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.webservice.etwebservice.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ETTeamService" targetNamespace="http://service.webservice.etwebservice.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.webservice.etwebservice.com/" schemaLocation="ETTeamService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="updateImage">
    <part element="tns:updateImage" name="parameters"/>
  </message>
  <message name="updateImageResponse">
    <part element="tns:updateImageResponse" name="parameters"/>
  </message>
  <message name="insertTeamMember">
    <part element="tns:insertTeamMember" name="parameters"/>
  </message>
  <message name="insertTeamMemberResponse">
    <part element="tns:insertTeamMemberResponse" name="parameters"/>
  </message>
  <message name="deleteTeamMember">
    <part element="tns:deleteTeamMember" name="parameters"/>
  </message>
  <message name="deleteTeamMemberResponse">
    <part element="tns:deleteTeamMemberResponse" name="parameters"/>
  </message>
  <message name="updateTeamSign">
    <part element="tns:updateTeamSign" name="parameters"/>
  </message>
  <message name="updateTeamSignResponse">
    <part element="tns:updateTeamSignResponse" name="parameters"/>
  </message>
  <message name="updateTeamName">
    <part element="tns:updateTeamName" name="parameters"/>
  </message>
  <message name="updateTeamNameResponse">
    <part element="tns:updateTeamNameResponse" name="parameters"/>
  </message>
  <message name="updateTeamDetail">
    <part element="tns:updateTeamDetail" name="parameters"/>
  </message>
  <message name="updateTeamDetailResponse">
    <part element="tns:updateTeamDetailResponse" name="parameters"/>
  </message>
  <message name="getTeamAllinfo">
    <part element="tns:getTeamAllinfo" name="parameters"/>
  </message>
  <message name="getTeamAllinfoResponse">
    <part element="tns:getTeamAllinfoResponse" name="parameters"/>
  </message>
  <message name="getTeamByName">
    <part element="tns:getTeamByName" name="parameters"/>
  </message>
  <message name="getTeamByNameResponse">
    <part element="tns:getTeamByNameResponse" name="parameters"/>
  </message>
  <message name="getTeamById">
    <part element="tns:getTeamById" name="parameters"/>
  </message>
  <message name="getTeamByIdResponse">
    <part element="tns:getTeamByIdResponse" name="parameters"/>
  </message>
  <message name="getTeam">
    <part element="tns:getTeam" name="parameters"/>
  </message>
  <message name="getTeamResponse">
    <part element="tns:getTeamResponse" name="parameters"/>
  </message>
  <message name="updateTeam">
    <part element="tns:updateTeam" name="parameters"/>
  </message>
  <message name="updateTeamResponse">
    <part element="tns:updateTeamResponse" name="parameters"/>
  </message>
  <message name="updateTeamJob">
    <part element="tns:updateTeamJob" name="parameters"/>
  </message>
  <message name="updateTeamJobResponse">
    <part element="tns:updateTeamJobResponse" name="parameters"/>
  </message>
  <portType name="ETTeamDelegate">
    <operation name="updateImage">
      <input message="tns:updateImage"/>
      <output message="tns:updateImageResponse"/>
    </operation>
    <operation name="insertTeamMember">
      <input message="tns:insertTeamMember"/>
      <output message="tns:insertTeamMemberResponse"/>
    </operation>
    <operation name="deleteTeamMember">
      <input message="tns:deleteTeamMember"/>
      <output message="tns:deleteTeamMemberResponse"/>
    </operation>
    <operation name="updateTeamSign">
      <input message="tns:updateTeamSign"/>
      <output message="tns:updateTeamSignResponse"/>
    </operation>
    <operation name="updateTeamName">
      <input message="tns:updateTeamName"/>
      <output message="tns:updateTeamNameResponse"/>
    </operation>
    <operation name="updateTeamDetail">
      <input message="tns:updateTeamDetail"/>
      <output message="tns:updateTeamDetailResponse"/>
    </operation>
    <operation name="getTeamAllinfo">
      <input message="tns:getTeamAllinfo"/>
      <output message="tns:getTeamAllinfoResponse"/>
    </operation>
    <operation name="getTeamByName">
      <input message="tns:getTeamByName"/>
      <output message="tns:getTeamByNameResponse"/>
    </operation>
    <operation name="getTeamById">
      <input message="tns:getTeamById"/>
      <output message="tns:getTeamByIdResponse"/>
    </operation>
    <operation name="getTeam">
      <input message="tns:getTeam"/>
      <output message="tns:getTeamResponse"/>
    </operation>
    <operation name="updateTeam">
      <input message="tns:updateTeam"/>
      <output message="tns:updateTeamResponse"/>
    </operation>
    <operation name="updateTeamJob">
      <input message="tns:updateTeamJob"/>
      <output message="tns:updateTeamJobResponse"/>
    </operation>
  </portType>
  <binding name="ETTeamPortBinding" type="tns:ETTeamDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="updateImage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertTeamMember">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteTeamMember">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateTeamSign">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateTeamName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateTeamDetail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTeamAllinfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTeamByName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTeamById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTeam">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateTeam">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateTeamJob">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ETTeamService">
    <port binding="tns:ETTeamPortBinding" name="ETTeamPort">
      <soap:address location="http://localhost:8080/etwebservice/ETTeamPort"/>
    </port>
  </service>
</definitions>
