etwebservice/WebRoot/WEB-INF/wsdl/FirstPageImageService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.webservice.etwebservice.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FirstPageImageService" targetNamespace="http://service.webservice.etwebservice.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.webservice.etwebservice.com/" schemaLocation="FirstPageImageService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getImages">
    <part element="tns:getImages" name="parameters"/>
  </message>
  <message name="getImagesResponse">
    <part element="tns:getImagesResponse" name="parameters"/>
  </message>
  <message name="updateImage">
    <part element="tns:updateImage" name="parameters"/>
  </message>
  <message name="updateImageResponse">
    <part element="tns:updateImageResponse" name="parameters"/>
  </message>
  <message name="deleteImage">
    <part element="tns:deleteImage" name="parameters"/>
  </message>
  <message name="deleteImageResponse">
    <part element="tns:deleteImageResponse" name="parameters"/>
  </message>
  <message name="insertImage">
    <part element="tns:insertImage" name="parameters"/>
  </message>
  <message name="insertImageResponse">
    <part element="tns:insertImageResponse" name="parameters"/>
  </message>
  <portType name="FirstPageImageDelegate">
    <operation name="getImages">
      <input message="tns:getImages"/>
      <output message="tns:getImagesResponse"/>
    </operation>
    <operation name="updateImage">
      <input message="tns:updateImage"/>
      <output message="tns:updateImageResponse"/>
    </operation>
    <operation name="deleteImage">
      <input message="tns:deleteImage"/>
      <output message="tns:deleteImageResponse"/>
    </operation>
    <operation name="insertImage">
      <input message="tns:insertImage"/>
      <output message="tns:insertImageResponse"/>
    </operation>
  </portType>
  <binding name="FirstPageImagePortBinding" type="tns:FirstPageImageDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getImages">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateImage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteImage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertImage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="FirstPageImageService">
    <port binding="tns:FirstPageImagePortBinding" name="FirstPageImagePort">
      <soap:address location="http://localhost:8080/etwebservice/FirstPageImagePort"/>
    </port>
  </service>
</definitions>
